<div id="idEditUserFormDiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form id="editUserForm" name="editUserForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Имя</label>
                        <div class="col-sm-10">
                            <input ng-model="nowEditingUser.name"
                                   id="inputName" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSurename" class="col-sm-2 control-label">Фамилия</label>
                        <div class="col-sm-10">
                            <input ng-model="nowEditingUser.surname"
                                   id="inputSurename" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCode" class="col-sm-2 control-label">Код</label>
                        <div class="col-sm-10">
                            <input ng-model="nowEditingUser.code"
                                   id="inputCode" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">email</label>
                        <div class="col-sm-10">
                            <input ng-model="nowEditingUser.email"
                                   id="inputEmail" type="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress" class="col-sm-2 control-label">Адрес</label>
                        <div class="col-sm-10">
                            <input ng-model="nowEditingUser.address"
                                   id="inputAddress" type="text" class="form-control" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="nowEditingUser.save()" ng-class="{disabled:!editUserForm.$valid}"
                        type="button" class="btn btn-primary" >Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->