<style>
    .help-block {
        font-size: 12px !important;
    }
</style>

<div id="userFormDiv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Пользователь</h4>
            </div>
            <div class="modal-body">
                <form id="userForm" name="userForm" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Имя</label>
                        <div class="col-sm-10" ng-class="{'has-error' : userForm.name.$invalid && userForm.name.$dirty}">
                            <input ng-model="currentUser.name" ng-change="userDataChanged(currentUser)"
                                   id="name" name="name" type="text" class="form-control" required autofocus>
                            <p ng-show="userForm.name.$invalid && userForm.name.$dirty" class="help-block">Введите имя</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="surname" class="col-sm-2 control-label">Фамилия</label>
                        <div class="col-sm-10"
                             ng-class="{'has-error' : userForm.surname.$invalid && userForm.surname.$dirty}">
                            <input ng-model="currentUser.surname" ng-change="userDataChanged(currentUser)"
                                   id="surname" name="surname" type="text" class="form-control" required>
                            <p ng-show="userForm.surname.$invalid && !userForm.surname.$pristine" class="help-block">Введите фамилию</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">Код</label>
                        <div class="col-sm-10"  ng-class="{'has-error' : userForm.code.$invalid && userForm.code.$dirty}">
                            <input ng-model="currentUser.code" ng-change="userDataChanged(currentUser)"
                                   id="code" name="code" type="text" class="form-control" ng-pattern="/^\d+$/" required>
                            <p ng-show="userForm.code.$invalid && !userForm.code.$pristine" class="help-block">Введите правильный код</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Почта</label>
                        <div class="col-sm-10" ng-class="{'has-error' : userForm.email.$invalid && userForm.email.$dirty}">
                            <input ng-model="currentUser.email" ng-change="userDataChanged(currentUser)"
                                   ng-pattern="/^[a-z0-9]+@[a-z0-9]+\.[a-z]{2,4}$/"
                                   id="email" name="email" type="text" class="form-control"
                                   required autocomplete="off">
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine"
                               class="help-block">Ввведите правильный email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Адрес</label>
                        <div class="col-sm-10" ng-class="{'has-error' : userForm.address.$invalid && userForm.address.$dirty}">
                            <input ng-model="currentUser.address" ng-change="userDataChanged(currentUser)"
                                   id="address" name="address" type="text" class="form-control" required>
                            <p ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="help-block">Введите адрес</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button ng-disabled="userForm.$invalid" ng-click="saveUser(currentUser)"
                        type="button" class="btn btn-primary" >Сохранить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->